.card__img{
aspect-ratio: 4/6;  
width: 100%;
}.css-1xez8po-MuiPaper-root-MuiCard-root {
    margin: 0 auto;
    margin-bottom: 2rem !important;
    
    transition: none 300ms cubic-bezier(0, 0, 0, 0) 0ms;
    border-radius: 0px !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0B90AF;
    color: #fff;
    padding: 0.7rem 0.7rem;
}
